
.phValue p{
    margin:0;
    display:inline;
}


.temperatureValue p{ 
    margin:0;
    display:inline
}

.turbidityValue p{
    margin:0;
    display:inline
}

/* all chart size */
.phChart{
    margin-left: 25%;
}

.temperatureChart{
    margin-left: 25%;
}

.turbidityChart{
    margin-left: 25%;
}