/* login section */
body{
    font-family: 'Nunito', sans-serif !important;
}

.login-cover{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginProgress{
    display: none;
}

#loginError{
    display: none;
}

.modal-dialog > #iium{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.mdl-dialog__title{                  /* title sign in */
    text-align: center;
}

.mdl-navigation a:hover{            /* navbar hover */
    color: black;
    background-color: white;
}

.navbar a.active{
    border-bottom: 3px solid rgb(0, 74, 67);
}
.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.button-right-icon{
    margin-left: 10px;
}


/* home page design */
h1{
    text-align: center;
}




/* for footer */

.mdl-mini-footer{
    padding-bottom: -100px;
}